<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/css.css" />
    <script src="~/bundles/jquery.js"></script>
    <script src="~/bundles/jqueryval.js"></script>
    <script src="~/bundles/common.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/laytpl.js"></script>
    <script src="~/Scripts/laypage/laypage.js"></script>
    <script src="~/Scripts/json2.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
